
.nav-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
    list-style: none;
   
}
section{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.section-div{
    background-color: bisque;
}
.section-div p,h4{
    margin: 0;
    text-align: center;
}
section img{
    width: 350px;
    height: 25vh;
}

footer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 30px;
    background-color: bisque;
}
.footer-menu-ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.foot-menu{
border-right: 2px solid black;

}
.footer-contact{
    text-align: center ;
}

.footer-contact p{
  margin: 0;
}
.footer-about p,h3{
    margin: 0;
    text-align: center;
}

@media (max-width: 680px ){
    footer{
        flex-direction: column;
    }
}
